<nav>
    <ul>
        <li class="list"><a class="linkb" href="../">Home</a></li>
        <li class="list"><a class="linkb" href="../harrypotter"></a></li>
        <li class="list"><a class="linkb" href="../nasa">Nasa</a></li>
        <li class="list"><a class="linkb" href="../cocktail">Cocktail Generator</a></li>
    </ul>
</nav>