<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    {{{body}}}
    {{!-- first{} is putting it indie an object and secod 2 are hbs syntax --}}
    {{!-- anything within this layout.hbs will display on every page, so if i type  --}}
</body>
</html>